*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

h1{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
}

h2{
    font-size: 3rem;
    font-weight: bold;
}

h3{
    font-size: 1.9em;
    text-transform: uppercase;
    
}

p{
    font-size: 16px;
}

button{
    background-color: #000;
    border-radius: 2px;
    font-size: 1rem;
    color: #fff;
    width: 100px;
    height: 40px;

    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

button:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: rgb(255, 213, 213);
}

header{
    background-image: url('/assets/img/Banner.png');
    background-size: cover;
    background-position: center;
    height: 85vh;
}

.overview{
    height: 90vh;
    background: #ecf0f1;
}

.overview img{
    height: 115%;
    width: 50%;
}

.overview_text_section div{
    font-size: 13px;
}

.work-together{
    height: 85vh;
    padding-top: 6rem;
}

.work-together div img{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.work-together .icons{
    margin-top: 10rem;
}

.discover-analysis{
    background-color: #7f8c8d;
    height: 65vh;
    padding-top: 5rem;
    color: #fff;
}

.start-project{
    height: 60vh;
    background: url('/assets/img/why-attend-bg.png');
    background-size: cover;
   
}

footer{
    height: 20vh;
    background: #151616;
    color: #fff;
    font-size: 1rem;
}

footer .text-center{
    font-size: 2rem;
}